{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href=" {% static 'core\style.css' %}" />
    <title>Synergy Management Demo</title>
	
  </head>
  <body>
 
	<div class="container1">
      <nav class="navbar">
        <div class="nav_icon" onclick="toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="navbar__left">
          <a class="active_link" href="#">{{request.user.username}}</a>
        </div>
        <div class="navbar__right">
          <a href="#">
           log out
          </a>
          <a href="#">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </a>
          <a href="#">
            <img width="30" src="assets/avatar.svg" alt="" />
            <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
          </a>
        </div>
      </nav>

	{% block content %}

	{% endblock %}

      <div id="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
           <img  src="{% static 'core\images\logo.png' %}" />
            <h1>Synergy</h1>
          </div>
          <i
            onclick="closeSidebar()"
            class="fa fa-times"
            id="sidebarIcon"
            aria-hidden="true"
          ></i>
        </div>
       
        <div class="sidebar__menu">
          <div class="sidebar__link active_menu_link">
            <i class="fa fa-dashboard"></i>
            <a href="#">Dashboard</a>
          </div>
         <hr>
          <div class="sidebar__link">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
            <a href="#">Admin dashbord</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-building-o"></i>
            <a href="#">department dashbord</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-user-o"></i>
            <a href="#">Employee dashbord</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-wrench"></i>
            <a href="#">system info</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-handshake-o"></i>
            <a href="#">Contracts</a>
          </div>
         
          
        </div>
      </div>
	  </div>
	  


	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src=" {% static 'core\script.js' %}"></script>

</body>
</html>